/* 
 * Created by Anderson Anizio
*/
* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

   
}


/* 
 *  GENERAL STYLES
 */

:root {
    --main-color: #185c37;
    --main-color-darker: #1668aa;
    --main-color-crim: crimson;
    --main-color-gr: #185c37;
}

body {
    font: normal 16px 'Open Sans', sans-serif;
    color: #555;
}

.main-container {
    width: 100%;
    /* max-width: 1160px; */
    /* margin: 0 auto; */
    /* padding: 0 20px; */

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

p {
    line-height: 1.8rem;
}

.btn-primary {
    padding: 22px 80px;
    background: var(--main-color-gr);
    border: 1px solid var(--main-color-gr);
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
    border-radius: 34px;
    text-decoration: none;
    transition: all .3s;
    position: relative;
    bottom: 55px;
  
}

.btn-primary:hover {
    background: var(--main-color-gr);
    box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px #3a4347;
}

.cont-img {

    display: flex;
    width: 100%;
    height: 100%;
    justify-content:center;
 
}

.cont-img img {
    padding: 0 10px;
 
}
/* frame */

iframe {
    width: 100%;
    max-width: 660px;
}

/* 
 *  MAIN HEADER 
 */

.main-header {
    height: 100vh;
    position: relative;
    background-color: var(--main-color);
 
    
}

.main-header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* opacity: 0.8; */
    background-size: cover;
    background-position: center;
    /* z-index: 2; */
}

.main-header-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-header-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 20px 0;
    z-index: 1;
    opacity: 0;
    animation: headerFadeIn 1s 1s forwards;
}

.cont-for-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}



@keyframes headerFadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Logo */

.logo {
    font-size: 24px;
}

.logo a {
    color: black;
    opacity: 0.9;
    text-decoration: none;
}

.logo a:hover {
    opacity: 1;
}

/* Menu */

.main-menu a {
    text-decoration: none;
    color: black;
    margin: 0 16px;
    opacity: 0.9;
}

.main-menu a:hover {
    opacity: 1;
}

/* Hero */

.hero {
    width: 60%;
    flex: 1 0 auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 4;
    opacity: 0;
    animation: heroFadeIn 1s 1s forwards;
}

.hero-1 {
    width: 40%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 4;
    opacity: 0;
    animation: heroFadeIn 1s 1s forwards;
}

@keyframes heroFadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero, .hero-1 > * {
    font-family: 'Open Sans', sans-serif;
}

.hero, .hero-1 h2 {
    color: white;
    font-size: 50px;
    margin: 0;
}

.hero, .hero-1 h3 {
    color: white;
    margin: 30px 0 10px 0;
}



/* 
 *  SECTION 
 */

.section {
    padding: 40px 0;
    text-align: center;
   
}

.section-state--odd {
    background-color: #f3f3f3;
}

.section-title {
    font-size: 34px;
    margin-top: 0;
}

.section-desc {
    max-width: 800px;
    margin: 40px auto 0 auto;
}

.section-divider {
    width: 140px;
    border: 1px solid var(--main-color);
    margin: 40px auto 70px auto;
}



/* 
 *  GRID
 */

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid__item {
    flex: 1 1 23%;
    width: 100%;
    height: 100%;
}

.grid__item i {

    margin: 40px 0 20px 0;
  

}


/* 
 *  GALLERY
 */

.gallery {
    width: 100%;
}

.gallery__row {
    display: flex;
    padding: 10px 0;
}

.gallery__item {
    height: 350px;
    background-color: #969696;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    transition: transform .5s;
}

.gallery__item:hover {
    transform: scale(1.05);
}

.gallery__item:first-child {
    padding-right: 20px;
}

.gallery__item--large {
    flex-basis: 60%;
}

.gallery__item--small {
    flex-basis: 40%;
}

.gallery__item img {
    width: 100%;
    height: 100%;
}



/* 
 *  SERVICES SECTION
 */

.section.services .grid__item i {
    font-size: 90px;
    color: var(--main-color);
}

.section.services .grid__item h4 {
    font-size: 22px;
}

.section.services .grid__item p {
    margin: 0 auto 0 auto;
    padding-right: 30px;
    padding-left: 30px;
    max-width: 400px;
}

.section.services .grid__item i {
    transition: transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.section.services .grid__item:hover i {
    transform: scale(1.4);
}

/* Parallax */

 .parallax {
    background-image: url('../img/parallax.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    overflow-x: hidden;
    user-select: none;
}

.parallax h1, h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* 
 *  DEPOIMENTS SECTION
 */
.depoiments {
    background: #111111;
    color: white;
    overflow-x: hidden;
}
.depoiment {
    margin: 40px auto 0 auto;
    max-width: 900px;
}

.depoiment__quote {
    font-size: 20px;
    font-weight: 600;
}

.depoiment__author {
    font-style: normal;
}

/* 
NAME + VIDEOS
*/
.name__prof {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 80px 0 60px 0;
}

.quote_texts {

    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;

 
}

.quote_texts h3, h4 {

    margin: 0px 104px; 
    
}

.quote_texts h3 {

    font-size: 28px;
    color: limegreen;
}
.quote_texts h4 {

    font-size: 22px;
}


.name__prof iframe {
    display: flex;
    width: 460px;
    max-width: 560px;
    justify-content: flex-start;
}

.ytp-large-play-button-red-bg {

    color: green !important;
}

/* 
 *  NEWSLETTER SECTION
 */

.newsletter__form {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.newsletter__form input[type="email"] {
    border: 1px solid gray;
    padding: 14px;
    margin-right: 20px;
    flex: 1 1 auto;
    border-radius: 3px;
}

.newsletter__form input[type="email"]:focus,
.newsletter__form input[type="email"]:active,
.newsletter__form input[type="email"]:hover {
    border-color: black;
}



/* 
 *  FOOTER
 */

footer {
    padding: 50px 0;
    background: #111111;
    color: #a0a0a0;
    text-align: center;
}

footer a {
    color: #d4d4d4;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer p:last-child {
    margin-bottom: 0;
}

.social-networks a {
    margin: 0 12px;
    font-size: 30px;
}

/* 
    RESPONSIVE DESIGN
*/

@media (max-width: 768px) {

    .main-header-top {
        flex-direction: column;
        align-items: center;
    }

    .gallery__row {
        flex-direction: column;
        padding: 0 !important;
    }

    .gallery__row + .gallery__row {
        padding-top: 10px !important;
    }

    .gallery__item {
        flex-basis: auto;
        padding: 0 !important;
    }

    .gallery__item + .gallery__item {
        padding-top: 10px !important;
    }

    .grid__item {
        flex: 1 1 100%;
        margin-top: 50px;
    }

    .grid__item:first-child {
        margin: 0;
    }

    .newsletter__form {
        flex-direction: column;
    }

    .newsletter__form input[type="email"] {
        margin: 0 0 20px 0;
    }

    .newsletter__form input[type="submit"] {
        flex: 1 1 auto;
    }

    .cont-img img {

        width: 78px;
        padding: 0 16px;
        height: 35px;
    }

    .cont-for-header {
        justify-content: center;
        flex-direction: column-reverse ;
    }

    .hero {
        flex: 0;
        width: 100%;
    }


    .hero-1 {
        flex: 0;
        width: 100%;
        height: 50%;
        justify-content: flex-end;
        
    }

    .hero-1 h2 {
        font-size: 50px;
    }
  
    iframe {
        width: 720px;
        height: 320px;
        /* max-width: 460px; */
    }



    /* Depoiments */


    .main-container .quote_texts{
        flex-direction: column-reverse;
        padding-top: 10px;
     
    }

 .column {
        display: flex;
        flex-direction: column !important;
    }

    .quote_texts h3 {
        padding: 10px 0 0 0;
        font-size: 26px;
    
    }
    .quote_texts h4 {
        padding: 4px 0 0 0;
        font-size: 18px;

    }

  .name__prof iframe {

    height: 260px;
  }

    
}

@media (max-width: 767px) and (min-width: 426px) {

    header {

        height: 60vh !important;
    }
        .cont-img {
    
            display: flex;
            width: 120px;
            max-width: 50px;
            justify-content:center;
            position: relative;
            margin: 0 auto;
            bottom: 15px;
            height: 20px;
        }
    
    
    
        .cont-img img {
    
            width: 48px;
            padding: 0 3px;
            height: 35px;
        }
        .btn-primary {
            padding: 14px 15px;
        }
    
    .main-header-bg  {
        position: absolute;
        height: 60vh !important;
    }
     .cont-for-header {
      
        justify-content: center !important;
            flex-direction: column-reverse ;
            height: 60vh !important;
        }
    
        .hero {
            flex: 0;
            width: 100%;
        }
    
    
        .hero-1 {
            flex: 0;
            width: 100%;
            height: 50%;
            justify-content: center !important;
            /* margin-bottom: 50px !important; */
            justify-content: flex-end;
            
        }
    
        .hero-1 h2 {
            font-size: 50px;
        }
    
    
        iframe {
            width: 370px !important;
            height: 220px !important;
            /* max-width: 460px; */
        }


        /* Depoiments */

        

        

}

@media (max-width: 425px) and (min-width: 376px){
header {

    height: 60vh !important;
}
    .cont-img {

        display: flex;
        width: 120px;
        max-width: 50px;
        justify-content:center;
        position: relative;
        margin: 0 auto;
        bottom: 15px;
        height: 20px;
    }



    .cont-img img {

        width: 48px;
        padding: 0 3px;
        height: 35px;
    }
    .btn-primary {
        padding: 14px 15px;
    }

    /* cont for header e main header bg */

.main-header-bg  {
    position: absolute;
    height: 60vh !important;
}
 .cont-for-header {
  
    justify-content: center !important;
        flex-direction: column-reverse ;
        height: 60vh !important;
    }

    .hero {
        flex: 0;
        width: 100%;
    }


    .hero-1 {
        flex: 0;
        width: 100%;
        height: 50%;
        justify-content: center !important;
        /* margin-bottom: 50px !important; */
        justify-content: flex-end;
        
    }

    .hero-1 h2 {
        font-size: 50px;
    }


    iframe {
        width: 370px;
        height: 220px;
        /* max-width: 460px; */
    }


    .parallax {
        background-image: url('../img/selo.png') !important;
        overflow-y: hidden !important;
    }

    /* DEPOIMENTS */

    .name__prof iframe {
        justify-content: center;
       
        height: 260px !important;
      }
    
}



@media (max-width: 375px) {

    .btn-primary {
        padding: 12px 15px !important; 
    }

    .cont-img img {

        width: 48px !important;
        padding: 0 3px !important;
        height: 39px !important;
    }
    iframe {
        width: 370px;
        height: 220px;
        /* max-width: 460px; */
    }


    
    .cont-for-header {
      
        justify-content: center !important;
            flex-direction: column-reverse ;
         
        }



}

@media (max-width: 320px) {

    .btn-primary {
        padding: 12px 15px !important; 
    }

    .cont-img img {

        width: 28px !important;
        padding: 0 3px !important;
        height: 18px !important;
    }



}